body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  background-color: #d8f2da;
}
ul > li{
  display: inline-block;
}
ul > li > img{
  display: block;
}
.slideshow-content, .slideshow-title {
  text-align: center;
}
.slideshow-list {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.button{
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 6px;
  background-color: #737172;
  color:#d8f0f2;
  cursor: pointer;
}
